* {
    box-sizing: border-box;
}

body {
    color: #f88f18;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'ubuntu', sans-serif;
    margin: 0;
}

.box {
    width: 450px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 25px;
    text-align: center;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #f88f18;
}

.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(8) {
    margin-right: 18px;
}

.seat:nth-last-of-type(8) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    color: #fff;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
    flex-direction: row;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.box input[type="submit"] {
    border: 0;
    background-color: #f88f18;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #f88f18;
    padding: 14px 40px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
    border: 2px solid #2ecc71;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #f88f18;
}